<!DOCTYPE html>
<html>
  <head>
    <title>Minesweeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      // Notice how this gets configured before we load Font Awesome
      window.FontAwesomeConfig = { autoReplaceSvg: false }
    </script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Minesweeper</a>
        </div>
      </nav>

      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-2">
          <% flash.each do |type, msg| %>
            <div class="alert alert-<%= type == 'notice' ? 'info' : 'danger' %>">
              <%= msg %>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>
    <%= yield :javascripts %>
  </body>
</html>
